/*Estilos para a página da agenda*/

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    margin: 0;
    padding: 0;
    color: #fff;
    animation: fadeIn 1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.agenda {
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out;
}

.agenda:hover {
    transform: rotate(-2deg);
}

.agenda h2 {
    text-align: center;
    margin-bottom: 20px;
}

.agenda p {
    margin-bottom: 10px;
    font-size: 18px;
}

.agenda ul {
    list-style-type: none;
    padding: 0;
}

.agenda ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    font-size: 16px;
}

.agenda ul li::before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    color: #ffcb05;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
}